body {
  text-align: center;
  font-family: Helvetica;
}

.sky {
  background: url("../images/the-flatiron-building.png");
  color: white;
}
p a {
  color: white;
  font-size: 18px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color:white;
}
